{% extends 'base.html.twig' %}

{% block title %}
    categorie /Liste
{% endblock %}


{% block body %}

<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}
	<!-- Section-->
	<!-- Main-->

            
							<td>{{ categorie.id }}</td>
							<td>
								{{ categorie.titre }}

							</td>
							<td>{{ categorie.description }}</td>
							</tr>
                            <br><br>
							


{% endblock %}  
