{% extends 'base.html.twig' %}

{% block title %}Edit Directeur{% endblock %}

{% block body %}
    <h1>Edit Directeur</h1>

    {{ include('directeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_directeur_index') }}">Liste de</a>

    {{ include('directeur/_delete_form.html.twig') }}
{% endblock %}
