{% extends 'base.html.twig' %}

{% form_theme directeurForm 'bootstrap_4_layout.html.twig'  %}
{% block title %}Directeur
{% endblock %}

{% block body %}
	<div class="container">

		<h5>
			Creation d'un nouveau Directeur</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		{{ include('directeur/_form.html.twig') }}

		<br>
		<a href="{{ path('directeur_index') }}" class="btn btn-secondary">Liste des Directeurs</a>
	</div>
	<br><br><br><br>

	<br>

{% endblock %}
