{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<!-- Section-->
	<!-- Main-->
		<div
		class="container"> <!-- Article main content -->
		<article class="col-md-12 maincontent">
			<div class="container">
				<div class="row">
					<h4>Agence / A Propos de l'Agence

					</h4>

					<hr style="width:100%; height:10px; background-color:#1B4F72 ">


					<br><br><br><br>

					{% include 'tools/main.html.twig'  %}


				</div>

			</div>
		</article>
	</div>
	<!-- Bootstrap core JS-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	 <script src="js/scripts.js"></script>
</body>{% endblock %}
