{% extends 'base_user.html.twig' %}

{% block title %}Agence Immobilière
{% endblock %}

{% block body %}

	<!-- Section-->
	<div class"container">
		{% include 'tools/jumbottron.html.twig'  %}
		{% include 'tools/jumbottron.html.twig'  %}


	</div>
	{% include 'tools/section.html.twig'  %}


	<!-- Bootstrap core JS-->

</body>{% endblock %}
