{% extends 'base_user.html.twig' %}

{% block title %}Agence Immobilière
{% endblock %}

{% block body %}

	<!-- Section-->
	<div class"container">
		{% include 'tools/jumbottron.html.twig'  %}
		{% include 'tools/trie_agency.html.twig'  %}
		{% include 'tools/trie_employees.html.twig'  %}
	</div>
	


	<!-- Bootstrap core JS-->

</body>{% endblock %}
