
{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
  <!-- Navigation-->

        <!-- Header-->

        <!-- Section-->
            {% include 'tools/section.html.twig'  %} 
        <!-- Footer-->
        <footer class="py-5 bg-dark">
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
{% endblock %}


