{% extends 'base_admin.html.twig' %}

{% block title %}Agence Immobilière / Admin Page
{% endblock %}

{% block body %}
	
<div style="height:600px;">
	<div class="example-wrapper">
		<h1>Administration</h1>


	</div></div>































	{% endblock %}
