{% extends 'base.html.twig' %}
{% block title %}
    utilisateur
{% endblock %}
{% block body %}

    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>
                        {{ utilisateur.id }}
                    </td>
                    <td>
                        {{ utilisateur.nom }}
                    </td>
                    <td>
                        {{ utilisateur.prenoms }}
                    </td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        Aucune categorie pour lemoment
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}