
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget" style="color: azure;">
				<h3 class="widget-title">Nous Contacter</h3>
				<div class="widget-body">
					<p> Tél : 01 46 78 01 00<br>
						<a href="mailto:#">admin@iplkt.fr</a><br>
						<br>
						24-26 bd Chastenet de Géry 94814 Villejuif Cedex
					</p>	
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h3 class="widget-title">Nous Suivre</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p style="color: azure;">L’agence Guinot-Immobilier tend à s’implanter un peu partout sur le territoire français et à la fin, compter plusieurs agences. Voici alors l’hiérarchie d’implantation !</p>
	
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h3 class="widget-title">Bulletin</h3>
				<div class="widget-body">
					<p>Tél : 01 46 78 01 00<br>
						<a href="mailto:#">admin@iplkt.fr</a><br>
						<br>
						24-26 bd Chastenet de Géry 94814 Villejuif Cedex
					</p>	
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>