<footer id="footer">
	<div class="container-fluid bg-dark">

		<div class="row">
			<div class="col-md-3 widget" style="color: azure;">
				<h5 class="widget-title">
					<ins>Nous Contacter</ins>
				</h5>

				<div class="text-muted">

					<p>
						24-26 bd Chastenet de Géry
						<br>
						94814 Villejuif Cedex<br>
						Tél : 01 46 78 01 00  |
						<a href="mailto:#">admin@iplkt.fr</a>

					</p>
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h5 class="widget-title">
					<ins>Nous Suivre</ins>
				</h5>


				<div class="widget-body">
					<p class="follow-me-icons">
						<a href="">
							<i class="fa fa-twitter fa-2"></i>
						</a>
						<a href="">
							<i class="fa fa-dribbble fa-2"></i>
						</a>
						<a href="">
							<i class="fa fa-github fa-2"></i>
						</a>
						<a href="">
							<i class="fa fa-facebook fa-2"></i>
						</a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h5 class="widget-title">
					<ins>Text widget</ins>
				</h5>


				<div class="text-muted">

					<p>
						L’agence Guinot-Immobilier tend à s’implanter un peu partout sur le territoire français et à la fin, 
																																																												compter plusieurs agences. Voici alors l’hiérarchie d’implantation !
					</p>
				</div>
			</div>

			<div class="col-md-3 widget" style="color: azure;">
				<h5 class="widget-title">
					<ins>Bulletin</ins>
				</h5>


				<div class="text-muted">

					24-26 bd Chastenet de Géry
					<br>
					94814 Villejuif Cedex<br>
					Tél : 01 46 78 01 00  | 	<a href="mailto:#">admin@iplkt.fr</a>

				</p>
			</div>
		</div>

	</div>
	<!-- /row of widgets -->
</div></footer>
