<header class="bg-dark py-5">
	<div class="container px-6 px-md-6 my-6">
		<div class="text-center text-muted">
			<h1 class="display-8">Cabinet de Gestion Immobilière | Guinot-Immobilier</h1>
			<p class=" text-muted">24-26 bd Chastenet de Géry
																																				
												94814 Villejuif Cedex | 01 46 78 01 00</p>
		</div>
	</div>
</header>
