<div class="jumbotron jumbotron-fluid">
	<h5 class="display-6">Notre Selection pour vous !</h5>
	<p class="lead">
		Faites le choix pour votre sélection de maison sur notre site.</p>

	<hr class="my-4">
	{% include 'tools/index-trie-bien.html.twig'  %}
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</p>
</div>
