<div class="jumbotron jumbotron-fluid">
	<h7 class="display-6">Notre Selection pour vous !</h7>
	<p class="lead">
		Faites le choix pour votre sélection de maison sur notre site.</p>
	<hr class="my-1">
	{% include 'tools/index-trie-bien.html.twig'  %}
	<hr class="my-1">

</div>
