
<main id="main">

	<div class="container">

		<div class="row topspace">
			
			<!-- Sidebar -->
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<h3>A Propos de l'Agence</h3>
				<p>Mettre en place une Application de Gestion d’une agence immobilière. Cette agence, située au 26 Rue Chastenet de Gery, 94800 Villejuif Cedex, détient plusieurs biens immobiliers qui sont confiés par des propriétaires.
					Ces biens, un peu partout en France et en Europe sont constitués de Terrains, appartements, appartements meublés, maisons, villa, hôtels, etc.
					!</p>

					<p>Les biens sont les propriétés de particuliers qui perçoivent les usufruits à la fin de chaque mois directement sur leurs comptes bancaires. </p>

					<p>Un bien appartient à un et un seul Client même si ce dernier représente parfois plusieurs membres de sa famille. Mais bien de Clients donnent en Gestion à Guinot-Immobilier plusieurs de leurs biens. </p> 
					
					<p>Chaque propriétaire a un profil Propriétaire sur le site de l’agence, et il sera informé des paiements qui sont faits des biens qu’il a donnés à l’agence. Pour cela, l’agence l’inscrit dans le fichier des propriétaire et lui attribue un identifiant, et un mot de passe. </p>
					
					<p>Les biens sont donc mis en location, et des particuliers qui en sont dans le besoin peuvent consulter le site de Guinot-Immobilier pour voir tous les biens mis en location pour faire une demande de location, d’achat ou toute autre demande. </p>
					
					<p>La consultation des biens est donc libre, tout le monde peut donc voir les Biens en exposition et envoyer un message à l’agence pour savoir si le Bien est toujours disponible et qu’il peut envisager la visite. </p>
					
					<p>Par contre pour pouvoir envoyer de message ou entrer en dialogue avec les conseillers de l’agence, il faudrait souscrire un abonnement qui devra être accepter par l’administrateur du site de l’agence. Lorsque la demande du visiteur est acceptée, il devient alors client de l’agence et peut alors faire sa demande. </p>
					
					<p>Si le Bien est libre, le client est convoqué au siège de Guinot-Immobilier pour la visite et l’établissement du contrat, et le client devient alors un Locataire de bien. </p>
					 
					<p>Le Contrat de Location Lie un locataire à l’agence, pour un et un seul Bien. Si le Locataire voudrait un autre bien (une seconde maison ou appartement par exemple), il y aura un nouveau contrat. </p>
					
				<h3>Fugit, laboriosam</h3>
				<p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
			</article>
			<!-- /Article -->
			

		</div>
	</div>	<!-- /container -->
	
</main>