{% extends 'base.html.twig' %}
{% block title %}
    Directeur
{% endblock %}
{% block body %}
<a href="{{ path('directeur_nouveau') }}">Créer un nouveau</a>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
            </tr>
        </thead>
        <tbody>
            {% for directeur in directeurs %}
                <tr>
                    <td>
                        {{ directeur.id }}
                    </td>
                    <td>
                        {{ directeur.nom }}
                    </td>
                    <td>
                        {{ directeur.prenom }}
                    </td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        Aucune categorie pour lemoment
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}