{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'  %}


{% block title %}New Client
{% endblock %}

{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}


{% block body %}
	<div class="container">

		<h2>Nouveau Client</h2>

		{{ include('client/_form.html.twig') }}

		<a href="{{ path('client_index') }}">Liste de</a>

	</div>

{% endblock %}
