{% extends 'base.html.twig' %}
{% block title %}
    siege
{% endblock %}
{% block body %}

    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Capital
                </th>

                            <th>
                    Adresse
                </th>


            </tr>
        </thead>
        <tbody>
            {% for siege in sieges %}
                <tr>
                    <td>
                        {{ siege.id }}
                    </td>
                    <td>
                        {{ siege.nom }}
                    </td>
                    <td>
                        {{ siege.capital}}
                    </td>

                                        <td>
                        {{ siege.adresse}}
                    </td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        Aucun Siege pour le moment
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}