{% extends 'base.html.twig' %}

{% form_theme formCreatSiege 'bootstrap_4_layout.html.twig'  %}


{% block body %}


	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
	<div class="container">
		<hr/>

		{{ form_start(formCreatSiege) }}
		   
            {{ form_widget(formCreatSiege) }}

            <button type="submit" class="btn btn-success">
                Register !
            </button>
            </br></br></br>
            
		{{ form_end(formCreatSiege) }}


{% endblock %}