{% extends 'base.html.twig' %}
{% form_theme formAgency'bootstrap_4_layout.html.twig'  %}

{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}

{% block title %}New Agence


{% endblock %}

{% block body %}
	<div class="container">

		<h2>Nouvelle Agence</h2>

		{{ include('agence/_form.html.twig') }}

		<a href="{{ path('agence_index') }}" class="btn btn-primary">Index des Agences</a>

	</div>
{% endblock %}
