{% extends 'base.html.twig' %}

{% block title %}
    categorie /Liste
{% endblock %}


{% block body %}

<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}
	<!-- Section-->
	<!-- Main-->

            


                    {% for categorie in categories %}
						<tr>
							<td>{{ categorie.id }}</td>
							<td>
								{{ categorie.titre }}

							</td>
							<td>{{ categorie.description }}</td>
							</tr>
                            <br><br>
							{% else %}
								<tr>
									<td colspan="5">
										Aucune categorie pour le momentdans cette application
									</td>
								</tr>
					{% endfor %}

{% endblock %}  
