{% extends 'base.html.twig' %}
{% form_theme formCategorie 'bootstrap_4_layout.html.twig'  %}


{% block title %}Categorie
{% endblock %}

{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}


{% block body %}
	<div class="container">

		<h2>Creation/Categorie</h2>
		<hr>

		{{ include('categorie/_form.html.twig') }}

		<a href="{{ path('categorie_index') }}">Liste de</a>
	</div>
{% endblock %}
