{% extends 'base.html.twig' %}

{% form_theme formEmploy'bootstrap_4_layout.html.twig'  %}

{% block title %}Edition Employe
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Edition Employe / </h1>
		<hr>

		{{ include('employe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<br><a href="{{ path('employe_index') }}" class="btn btn-primary">Liste des Employés</a>

		{{ include('employe/_delete_form.html.twig') }}
	</div>
{% endblock %}
