{% extends 'base.html.twig' %}
{% form_theme formEmploy'bootstrap_4_layout.html.twig'  %}


{% block title %}Nouvel Employe
{% endblock %}


{% block body %}
	<div class="container">

		<h1>Employe / Gestionnaire</h1>
		<hr/>


		{{ include('employe/_form.html.twig') }}

		<br><a href="{{ path('employe_index') }}" class="btn btn-secondary">Liste de</a>

	</div>
{% endblock %}
