{% extends 'base_user.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
	<!-- Navigation-->
	<!-- Header-->
	<!-- Section-->
	<!-- Main-->
		<div
		class="container"> <!-- Article main content -->
		<article class="col-md-12 maincontent">
			<div class="container">
				<div class="row">
					<h3>Agence / {{title}}
					</h3>

					<hr style="width:100%; height:10px; background-color:#1B4F72 ">


					<br><br><br><br>

					<!-- Section-->
					{% include 'tools/section.html.twig'  %}


				</div>

			</div>
		</article>
	</div>


	<!-- Footer-->
	<footer class="py-5 bg-dark">
		{% include 'tools/footer.html.twig'  %}
	</footer>
	<!-- Bootstrap core JS-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	 <script src="js/scripts.js"></script>
</body>{% endblock %}
