{% extends 'base_admin.html.twig' %}

{% block title %}Nouvel Utilisateur
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig'  %}

{% block body %}
    <div class="container">
		<hr/>


				{% if app.user %}

				{% else %}
					<h1> Vous n'êtes pas encore un utilisateur de cette application<br>
					Veuillez donc vous enregistrer avant d'avoir accès à la page demandée
					<br>
					Merci !
					</h1>
					<br><br><br><br>
					{% endif %}	<hr/> 




		<h1>
			Enregistrement Nouvel Utiisateur
		</h1>
		<hr/>

		{{ include('user/_form.html.twig') }}

		<br>
		<br>
		<a href="{{ path('user_index') }}" class="btn btn-secondary">
			Liste de utilisateurs
		</a>
		<br><br>
	</div>
{% endblock %}
